<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.rhok.android" android:versionCode="1" android:versionName="1.0">
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<application android:icon="@drawable/tape_measure"
	 android:label="@string/app_name"
	 android:theme="@style/CustomTheme">
		<activity android:name=".HeightCatcherActivity"
			android:label="@string/app_name" 
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="DrawHeightActivity"
			android:label="@string/app_name" 
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="UploadActivity"
			android:label="@string/app_name" 
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Translucent.NoTitleBar">
		</activity>
		<activity android:name="MainMenuActivity"
			android:label="@string/app_name" 
			android:screenOrientation="portrait"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>
	<uses-sdk android:minSdkVersion="8" />


</manifest> 